@charset "utf-8";
.ccui-index{
  .ccui-tip {
    padding: 8px 16px;
    background-color: #ecf8ff;
    border-radius: 4px;
    border-left: 5px solid #50bfff;
  }
  .ccui-tip p{
    line-height: 25px;
  }
}
