
@font-face {font-family: "iconfont";
  src: url('iconfont.ttf') format('truetype'); 
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}


.ccui-weixin1:before { content: "\e6a8"; }

.ccui-gengduo1:before { content: "\e704"; }

.ccui-qq:before { content: "\e619"; }

.ccui-QQ:before { content: "\e6ac"; }

.ccui-weibo1:before { content: "\e61b"; }

.ccui-dizhi:before { content: "\e62f"; }

.ccui-add:before { content: "\e65c"; }

.ccui-jiahao:before { content: "\e791"; }

.ccui-jianhao:before { content: "\e792"; }

.ccui-shixinduigou:before { content: "\e755"; }

.ccui-gouwuche2:before { content: "\e6cb"; }

.ccui-jiantoushang:before { content: "\e628"; }

.ccui-zhifubao:before { content: "\e655"; }

.ccui-qian:before { content: "\e653"; }

.ccui-close2:before { content: "\e63b"; }

.ccui-buxing:before { content: "\e6bc"; }

.ccui-chengshifuwu:before { content: "\e6ce"; }

.ccui-yinxingqia:before { content: "\e6d4"; }

.ccui-xiangce:before { content: "\e6d5"; }

.ccui-yincang:before { content: "\e6d6"; }

.ccui-shanchu:before { content: "\e6d7"; }

.ccui-xiangqing:before { content: "\e6d8"; }

.ccui-zhiding:before { content: "\e6d9"; }

.ccui-xiala:before { content: "\e64e"; }

.ccui-shangla:before { content: "\e676"; }

.ccui-telephone:before { content: "\e67d"; }

.ccui-yuanxingweixuanzhong:before { content: "\e793"; }

.ccui-yuanxingxuanzhongfill:before { content: "\e795"; }

.ccui-weibo:before { content: "\e6b2"; }

.ccui-wujiaoxingkongxin:before { content: "\e689"; }

.ccui-wujiaoxingshixin:before { content: "\e68a"; }

.ccui-mima:before { content: "\e6b8"; }

.ccui-renzheng:before { content: "\e6b9"; }

.ccui-shoucang:before { content: "\e6bb"; }

.ccui-tixingshuikan:before { content: "\e6d2"; }

.ccui-baoxiu:before { content: "\e6d3"; }

.ccui-quanbudingdan:before { content: "\e6dd"; }

.ccui-qunliao:before { content: "\e6de"; }

.ccui-wodeqianbao:before { content: "\e6e9"; }

.ccui-yuanquan:before { content: "\e703"; }

.ccui-xinfangtong:before { content: "\e70f"; }

.ccui-dianzan:before { content: "\e715"; }

.ccui-nanzhuang:before { content: "\e719"; }

.ccui-xiangji:before { content: "\e721"; }

.ccui-quanbudingdan1:before { content: "\e728"; }

.ccui-waitevaluate:before { content: "\e730"; }

.ccui-waitreceive:before { content: "\e732"; }

.ccui-persel:before { content: "\e736"; }

.ccui-cartsel:before { content: "\e737"; }

.ccui-zhiding1:before { content: "\e61a"; }

.ccui-fanhui:before { content: "\e600"; }

.ccui-gengduo:before { content: "\e601"; }

.ccui-shangjiantou:before { content: "\e602"; }

.ccui-xiajiantou:before { content: "\e603"; }

.ccui-youjiantou:before { content: "\e604"; }

.ccui-zuojiantou:before { content: "\e605"; }

