/*下拉菜单*/
.ccui-hide {
    display: none;
}
.ccui-select {
    height: 32px;
    width: 200px;
    line-height: 32px;
    position: relative;
    cursor: pointer;
    border: 1px solid #dfdfdf;
}
.ccui-select p {
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    color: #3d3d3d;
    cursor: pointer;
    position: absolute;
    width: 170px;
    padding: 0px 20px 0px 10px;
}
.ccui-select-list {
    list-style: none;
    position: absolute;
    top: 34px;
    background-color: white;
    text-indent: 10px;
    border: 1px solid #b7b7b7;
    left: -1px;
    width: 100%;
    line-height: 26px;
    cursor: pointer;
    z-index: 9999;
    font-size: 14px;
    height: 200px;
    overflow: auto;
}
.ccui-select-list li {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}
.ccui-select-list li:hover {
    background-color: #DDDDDD;
}

/*导航栏下拉菜单*/
.ccui-nav-select{
    height:32px;
    margin-top:-1px;
    width:190px;
    line-height:32px;
    position:relative;
    cursor:pointer;
    background-color: #c6d7ff;
}
.ccui-nav-select p {
    width: 190px;
    position: absolute;
    text-indent: 15px;
    color: #012571;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
}
.ccui-nav-select-list {
    border: 1px solid #d2d2d2;
    width: 188px;
    text-indent: 10px;
    line-height: 30px;
    font-size: 12px;
    overflow: visible;
    list-style: none;
    position: absolute;
    top: 30px;
    background-color: white;
    cursor: pointer;
    z-index: 9999;
}
.ccui-nav-select-list i{
    position: absolute;
    right: 0px;
    margin-right: 5px;
}
.ccui-nav-select-list .ccui-item{display: block;}
.ccui-nav-select-list li:hover {
    background-color: #012571;
    color: white;
    width: 190px;
    margin-left:-1px;
}
.ccui-nav-select-list li a:hover{color: white;}
.ccui-nav-select-list li a {
    display: block;
    width: 175px;

    color: #4e4e4e;
    line-height: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.ccui-data {
    position: absolute;
    z-index: 99;
    width: 198px;
    border: 1px solid #d2d2d2;
    background: #fff;
    display: none;
    left: 188px;
    margin-top: -30px;
}
.ccui-data a {
    display: block;
    width: 100%;
    color: #4e4e4e;
    line-height: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.ccui-data a:hover{text-decoration:underline;color: #396DD6;}
.ccui-on{ background-color: #012571;}
.ccui-white{color: white;}

/*仿京东左侧商品分类导航菜单*/
.ccui-jd-menu{
    width:198px;
    border: 1px solid #dfdfdf;
    min-height:200px;
    position: relative;
    height:575px;
}
.ccui-jd-menu ul li{
    float: left;
    width: 100%;
    text-indent: 10px;
    line-height:27px;
    cursor: pointer;
}
.ccui-jd-menu ul li:hover{
    border:2px solid #1a448e;
    border-right:0px;
    background:#fff;
    margin-top:-2px;
    position: relative;
    z-index: 999;
    padding-right:1.5px;
}
.ccui-jd-menu .ccui-on{
    border:2px solid #1a448e;
    border-right:0px;
    background:#fff;
    margin-top:-2px;
    position: relative;
    z-index: 999;
    padding-right: 1.5px;
    color:#4d73bf;
}
.ccui-jd-menu .ccui-particular{
    float: left;
    position:absolute;
    z-index:99;
    width:806px;
    height:456px;
    border:2px solid #1a448e;
    background:#fff;
    top:-2px;
    display:none;
    margin-left: -0.5px;
}
.ccui-jd-menu div a:hover{text-decoration:underline;color:#4d73bf;}
.ccui-jd-menu .ccui-particular .ccui-category-list{
    float: left;
    width: 605px;
    height: 573px;
    border-right:1px solid #dfdfdf;
}
.ccui-jd-menu .ccui-particular .ccui-category-list .ccui-overflow{
    float:left;
    width:100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #888888;
    line-height: 30px;
}
.ccui-jd-menu .ccui-particular .ccui-category-list .ccui-overflow:hover{color:#4d73bf;}
.ccui-jd-menu .ccui-particular .ccui-category-list .ccui-one{
    float: left;
    width: 193px;
    padding-left:25px;
    color: #888888;
    padding-top:20px;
}
.ccui-jd-menu .ccui-particular .ccui-category-list .ccui-two{
    float: left;
    width: 193px;
    color: #888888;
    padding-top:20px;
}

.ccui-jd-menu .ccui-particular .ccui-brand-list{ float: left;width: 200px;height: 456px;}
.ccui-jd-menu .ccui-particular .ccui-brand-list .ccui-img{
    float: left;
    width:140px;
    height: 170px;
    border-bottom:1px dashed #dfdfdf;
    padding:10px 30px;
}
.ccui-jd-menu .ccui-particular .ccui-brand-list .ccui-font{
    float:left;
    color:#666666;
    margin:0px 30px;
    line-height:20px;
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 157px;
}
.ccui-jd-menu .ccui-particular img{display:block;}
.ccui-jd-menu .ccui-particular .ccui-brand-list .ccui-brand-ccui-title{
    width:140px;
    color:#888888;
    float: left;
    text-align: center;
    margin-top:8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.ccui-jd-menu div h3{
    margin:0px 0px 0px 20px;
    padding:25px 0px 20px ;
    color:#3d3d3d;
    border-bottom: 1px dotted #dfdfdf;
    font-size: 15px;
    font-weight: bold;
}



/*手风琴组件*/

.ccui-accordion
{
    width:300px;
    border: 1px solid #dfdfdf;
    border-bottom:0px;
}
.ccui-accordion .ccui-title
{
    font-size:14px;
    color:#395a9d;
    cursor: pointer;
    line-height:30px;
    padding:5px 0px 5px 10px;
    border-bottom: 1px solid #dfdfdf;
}
.ccui-accordion .ccui-content
{
    color: #787878;
    border-bottom: 1px solid #dfdfdf;
    display: none;
}
.ccui-accordion .ccui-content li
{
    padding-left:20px;
    line-height:25px;
    cursor: pointer;
}
.ccui-accordion .ccui-content li:hover
{
    background-color:#6c84b8;
    color:#ffffff;
}
.ccui-accordion .ccui-onclick {
    background-color: #6c84b8;
    color: #ffffff;
    cursor: pointer;
}

/*图片放大镜组件*/


.ccui-fangDa{
    width: 400px;
    height: auto;
    background-color:#fff;
}
/*正常容器*/
.ccui-fangDa .ccui-fangDaImg{
    width: 400px;
    height: 400px;
    position: relative;
    background-color: #999999;
}
.ccui-fangDa .ccui-fangDaImg img{
    width: 400px;
    height: 400px;
}
/*滑块*/
.ccui-fangDa .ccui-fangDaImg .ccui-magnifyingBegin{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(255, 255, 255);
    opacity: 0.5;
    filter:alpha(opacity=50);
    cursor: move;
    display: none;
}
/*放大镜显示区域*/
.ccui-fangDa .ccui-fangDaImg .ccui-magnifyingShow{
    width: 400px;
    height: 400px;
    display: none;
    position: absolute;
    right: -420px;
    top: 0;
    z-index: 10;
    overflow: hidden;
    background-color: #454545;
}
.ccui-fangDa .ccui-fangDaImg .ccui-magnifyingShow .ccui-magnifyingShowImg {
    width: 1600px;
    height: 1600px;
}
/*设置选择图片容器*/
.ccui-fangDa .ccui-ImgList{
    margin-top: 10px;
    height: 72px;
    width: 400px;
}
.ccui-fangDa .ccui-ImgList  li{
    margin-right: 10px;
    width: 70px;
    height: 70px;
    float: left;
    cursor: pointer;
    background-color: #CBCBCB;
}
.ccui-fangDa .ccui-ImgList  li  img{
    display:block;
    width:72px;
    height:72px;
}
.ccui-fangDa .ccui-ImgList .ccui-active{
    position: relative;
}
.ccui-fangDa .ccui-ImgList .ccui-active:after {
    content: "";
    width: 70px;
    height: 70px;
    border: 1px solid #ffa200;
    position: absolute;
    top: 0;
}


/*轮播图组件*/
.slideBox{width: 900px;height: 300px;overflow: hidden;position: relative;}
.slideBox .hd{height:20px;overflow:hidden;position:absolute;right:405px;bottom:15px;z-index: 1;}
.slideBox .hd ul {overflow: hidden;zoom: 1;float: left;}
.slideBox .hd ul li {float: left;margin-right:15px;width: 20px;height: 20px;line-height:20px;
    text-align: center;cursor: pointer;background: #6f7275;color:#fff;}
.slideBox .hd ul li.on {background: #080b10;}
.slideBox .bd {position: relative;height: 100%;z-index: 0;}
.slideBox .bd li {zoom: 1;vertical-align: middle;}
.slideBox .bd img {width: 900px;height: 300px;display: block;}
.slideBox .prev, .slideBox .next {position: absolute;top: 50%;margin-top: -25px;
    display: block;width:20px;height:45px;color:#fff;
    filter: alpha(opacity=50);opacity: 0.5;}

.slideBox .next {right:0px;}

.slideBox .onprev, .slideBox .onnext {position: absolute;top: 50%;margin-top: -25px;
    display: block;width:20px;height:45px;color: #fff;}
.slideBox .onnext {right:0px;}

.slideBox .prev:hover{
     opacity: 1;
    filter: alpha(opacity=100);
}
.slideBox .next:hover{
    opacity: 1;
    filter: alpha(opacity=100);
}


    /*表单验证*/
.ccui-input{
    width: 292px;
    height: 13px;
    font-size: 14px;
    padding: 10px 8px;
    border: 1px solid #dfdfdf;
}
.ccui-label{
    display: block;
    width: 70px;
    line-height: 35px;
}
.ccui-input-sr{
    padding: 5px 20px;
    vertical-align: middle;
}
.ml80{
    margin-left: 80px;
}

.ccui-fix{
    position: absolute;
    right: 0px;
    top:80px;
}
